# Default ignored files
.vscode/
.idea/
/public/img/micros/*
!/public/img/micros/default.*
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
