# Always HTTPS
RewriteEngine On
RewriteCond %{Server_Port} !=443
RewriteRule ^(.*)$ https://guilhem.davidalbertini.fr/$1 [R=301,L]

# CheckSpelling off
CheckSpelling off

#Custom status pages
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
ErrorDocument 404 /status/404.php
ErrorDocument 422 /status/422.php
RemoveType x-mapp-php4 .html