:root,
::before,
::after {
    --color-pri-1: #736ced;
    --color-pri-2: #9f9fed;
    --color-sec-1: #d4c1ec;
    --color-sec-2: #e9ddf6;
    --border-radius: 10px;
    --icon-size: 40px;
    --trans-dur: 0.5s;
    --nav-padding: 1em;
    --main-padding: 20px;
    --global-margin-1: 20px;
    --global-margin-2: 10px;
    --global-padding-1: 20px;
    --global-padding-2: 10px;
    --lab-color: 100, 149, 237;
    --plat-color: 220, 20, 60;
    --mix-color: 255, 127, 80;
    --tile-width: 20em;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
    font-family: "Open Sans";
    src: url("/public/fonts/OpenSans-ExtraBold.ttf")
}

/* RESET CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    color: black;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


*{
    box-sizing: border-box;
    margin: 0;
}

.def {
    display: none;
}

svg {
    height: 100%;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    display: inline-block;
}

h1 {
    font-size: 3em;
    margin-left: var(--main-padding);
    margin-bottom: var(--global-margin-1);
    box-shadow: 0 -0.33em inset var(--color-pri-2);
}

h2 {
    font-size: 2em;
    margin-bottom: var(--global-margin-1);
    box-shadow: 0 -0.33em inset var(--color-sec-1);
}

h3 {
    font-size: 1em;
    margin-bottom: var(--global-margin-1);
    box-shadow: 0 -0.33em inset var(--color-sec-2);
}

input[type=submit],
input[type=reset] {
    color: white;
    background-color: black;
    padding: var(--global-padding-2);
    border-radius: 20px;
}

input, select, textarea {
    border: none;
    outline: none;
}

textarea {
    resize: none;
}

/*HEADER*/

header {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navigation {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#navbar {
    padding: var(--nav-padding);
    background-color: var(--color-pri-1);
    display: flex;
    justify-content: space-between;
}

#navbar nav {
    background-color: var(--color-pri-1);
}

#navbar .icon {
    width: var(--icon-size);
    height: var(--icon-size);
    display: flex;
    align-items: center;
    justify-content: center;
}

#hamburger-check {
    z-index: 1;
    cursor: pointer;
    position: absolute;
    width: var(--icon-size);
    height: var(--icon-size);
    opacity: 0;
}

#hamburger-check:checked ~ .hamburger {
    background:0;
    box-shadow: none
}

#hamburger-check:checked ~ .hamburger::before {
    transform-origin: bottom left;
    transform:rotate(45deg);
}

#hamburger-check:checked ~ .hamburger::after {
    transform-origin: top left;
    transform:rotate(-45deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.hamburger {
    align-self: center;
    width: var(--icon-size);
    height: calc(var(--icon-size)/5);
    background: #FCFCFC;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: ease-in-out var(--trans-dur);
}

.hamburger::before {
    top: var(--nav-padding)
}

.hamburger::after {
    top: calc(var(--nav-padding) + (var(--icon-size) / 5) * 4);
}

.hamburger::before,
.hamburger::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: var(--icon-size);
    height: calc(var(--icon-size) / 5);
    background:#FCFCFC;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: ease-in-out var(--trans-dur);
}

#navbar ul li a {
    width: 100%;
    display: inline-block;
    padding: var(--nav-padding);
    line-height: var(--icon-size);
}

#navbar nav {
    position: absolute;
    top: 100%;
    left: -100%;
    display: block;
    width: 100%;
    transition: ease-in-out var(--trans-dur);
}

#hamburger-check:checked ~ nav {
    left: 0;
    transition: ease-in-out var(--trans-dur);
}

header nav ul li {
    background-color: var(--color-pri-1);
    transition: ease-in-out var(--trans-dur);
}

header nav ul li:hover {
    background-color: var(--color-pri-2);
    transition: ease-in-out var(--trans-dur);
}

.infos {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.infos p {
    padding: 1em;
    margin: 2em 0;
    border-radius: var(--border-radius);
    background: var(--color-sec-2);
    width: fit-content;
}

/* MAIN */

main {
    padding: var(--main-padding);
}

/*FORM*/

.edit-bt {
    width: 20px;
    height: 20px;
    background-color: orange;
}

.undo-bt {
    text-decoration: underline;
}

.micro-snapshot {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 300px;
    max-height: 150px;
}

.micro-img {
    max-height: 400px;
}

.kw-cat {
    display: block;
    font-size: larger;
    margin-top: 2em;
    margin-bottom: 1em;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-wrapper a {
    margin-bottom: var(--global-margin-2);
}

.form-wrapper form {
    background: var(--color-pri-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 450px;
    align-self: center;
    padding: var(--global-padding-1);
    border-radius: var(--border-radius);
    margin-bottom: var(--global-margin-1);
}

.input-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    margin: var(--global-margin-1) 0;
    position: relative;
}

.input-wrapper label {
    color:var(--color-primary); 
    position:absolute;
    pointer-events:none;
    user-select: none;
    top: var(--global-padding-2);
    left: var(--global-padding-2);
    transition: 0.5s ease-in-out all; 
}

.input-wrapper input:focus ~label,
.input-wrapper textarea:focus ~label,
.input-wrapper input:not(:placeholder-shown) ~label,
.input-wrapper textarea:not(:placeholder-shown) ~label
{
    top: -1.5em;
    color: white;
    transition: all ease-in-out var(--trans-dur);
}

.input-wrapper input, .input-wrapper textarea {
    margin: 0;
    width: 100%;
    border-radius: var(--border-radius);
    padding: var(--global-padding-2);
    box-shadow: inset 0 2px 5px rgb(0 0 0 / 20%);
    transition: all ease-in-out var(--trans-dur);
}

.input-wrapper input:focus,
.input-wrapper textarea:focus {
    box-shadow: inset 0 2px 5px rgb(0 0 0 / 25%);
    transition: all ease-in-out var(--trans-dur);
}

.select-input {
    display: flex;
    width: 100%;
    margin: var(--global-margin-1) 0;
}

.select-input select {
    border: 0;
    box-shadow: inset 0 2px 5px rgb(0 0 0 / 20%);
    border-top-left-radius: var(--border-radius);   
    border-bottom-left-radius: var(--border-radius);   
}

.select-input input {
    border-top-left-radius: 0;   
    border-bottom-left-radius: 0;  
}

.select-input .input-wrapper {
    margin: 0;
}

.msg-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.msg {
    padding: 1em;
    margin: 2em 0;
    border-radius: var(--border-radius);
    width: fit-content;
    text-align: center;
    font-weight: bold;
}

.error-msg {
    color: white;
    background: crimson;
}

.info-msg {
    background: aquamarine;
}

legend h2, legend h3 {
    margin: 0;
}

fieldset {
    padding: var(--global-padding-1);
    border-radius: var(--border-radius);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(1);
    transform-origin: top;
    transition: transform ease-in-out var(--trans-dur);
}

.closed {
    transform: scale(0);
    transition: none;
}

fieldset, address {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: var(--global-margin-1);
}

.select-input:last-of-type, .input-wrapper:last-of-type {
    margin-bottom: 0;
}

.select-wrapper {
    display: flex;
    width: 100%;
    margin: var(--global-margin-1) 0;
    align-items: center;
}

.select-wrapper select {
    margin: 0;
    width: 100%;
    border-radius: var(--border-radius);
    padding: var(--global-padding-2);
    box-shadow: inset 0 2px 5px rgb(0 0 0 / 20%);
    transition: all ease-in-out var(--trans-dur);
}

.select-wrapper label {
    margin-right: var(--global-margin-1);
}

.add-bt, .rm-bt {
    width: fit-content;
    height: fit-content;
    padding: var(--global-padding-2);
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.add-bt {
    background: aquamarine;
}

.rm-bt {
    color: white;
    background: crimson;
}

/* ASIDE */

.aside-wrapper {
    display: flex;
    flex-direction: column-reverse;
}

/* MAP */

#map-wrapper {
    width: 100%;
    margin-bottom: var(--global-margin-1);
}

#map {
    height: 400px;
    border-radius: var(--border-radius);
    margin-bottom: var(--global-margin-1);
}

#map-filters {
    background: var(--color-pri-2);    
    border-radius: var(--border-radius);
    padding: var(--global-padding-1);
}

#map-filters h3 {
    cursor: pointer;
}

#map-filters-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.filters-group {
    margin-bottom: var(--global-margin-1);
}

.legend {
    padding: calc(var(--global-margin-1) / 2);
    border-radius: var(--border-radius);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: #ffffff11;
}

.legend h4 {
text-align: center;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: var(--global-margin-2);
}

.legend-icon {
    display: inline-block;
    width: 3em;
    height: 3em;
}

.marker{
    transform: scale(0.06);
}

.lab-marker {
    fill: rgb(var(--lab-color));
}

.plat-marker {
    fill: rgb(var(--plat-color));
}

.mix-marker {
    fill: rgb(var(--mix-color));
}

.leaflet-popup-content p, .leaflet-popup-content li {
    margin: 0;
    margin-bottom: 1em;
}

/* DESKTOP VIEW */

@media screen and (min-width: 920px) {
    /* HEADER */

    #hamburger-check {
        display: none;
    }

    #hamburger-check ~ .hamburger {
        display: none;
    }

    .icon {
        margin: 0 var(--nav-padding)
    }

    #navbar {
        align-items: center;
        flex-direction: row;
        padding: 0;
    }

    #navbar nav {
        position: relative;
        left: 0;
    }

    #navbar ul li:nth-last-child(2) {
        margin-left: auto;
    }

    header nav ul {
        display: flex;
    }

    #account-bt {
        display: none !important;
    }

    /* ASIDE */

    .aside-wrapper {
        flex-direction: row;
    }
    
    /* MAP */
    #map-filters {
        margin-right: var(--global-margin-1);
    }

    #map {
        height: 600px;
        position: sticky !important; 
        top: 16em;
    }
}

@media screen and (max-width: 550px) {
    .legend {
        margin-bottom: 40px !important;
    }
}

/* CHECKBOXES */

.checkbox-group {
    position: relative;
}

.checkbox-group input {
    display: none;
}

.checkbox-group label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: var(--global-padding-2) 0;
}

.checkbox-group svg {
    position: absolute;
    top: calc(50% - 4px);
    left: 2px;
}

.checkbox-group label::before {
    content: "";
    margin-right: var(--global-margin-1);
    display: inline-block;
    border-radius: 50%;
    border: 1px solid var(--color-pri-1);
    width: 16px;
    height: 16px;
    transform: scale(1);
    transition: all var(--trans-dur) ease-in-out;
}

.checkmark {
    display: inline-block;
    width: 15px;
    height: 15px;
    stroke: var(--color-sec-2);
    fill: none;
    stroke-width: 1.5;
    stroke-dasharray: 30 30;
    stroke-dashoffset: 30;
    transition: all var(--trans-dur) ease-in-out;
}

.checkbox-group input:checked ~ label::before {
    border: 1px solid transparent;
    transform: scale(1.2);
    transition: all var(--trans-dur) ease-in-out;
}

.checkbox-group input:checked ~ .checkmark {
    stroke-dashoffset: 0;
    transition: all var(--trans-dur) ease-in-out;
}

/* SEARCH BAR */

#search-wrapper {
    position: relative;
    background: black;
}

#search-label {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
}

#searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: var(--global-padding-1);
}

#search-bt {
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid white;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

#search-bt input {
    height: 100%;
    width: 100%;
    box-sizing: content-box;
    opacity: 0;
}

#search-bt svg {
    fill: white;
    position: absolute;
    transform: scale(25%);
    pointer-events: none;
}

#search-input {
    background: none;
    padding: 0;
    color: white;
    font-size: 20px;
    transition: var(--trans-dur);
    line-height: 50px;
    width: 0;
}

#search-input:focus,
#search-input:not(:placeholder-shown) {
    width: 100%;
}

#search-input:not(:placeholder-shown) ~ #search-bt {
    pointer-events: all;
}

/* MICROSCOPES DETAILS */

.tiles-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, min(calc(var(--tile-width) + var(--global-margin-1) * 2)));
    justify-content: space-evenly;
    justify-items: center;
}

.tile {
    display: inline-block;
    width: var(--tile-width);
    border-radius: var(--border-radius);
    overflow: hidden;
    margin: var(--global-margin-1);
    transition: box-shadow ease-in-out var(--trans-dur);
}

.tile:hover {
    transition: box-shadow ease-in-out var(--trans-dur);
}

.lab-tile {
    box-shadow: 0 0 15px rgba(var(--lab-color), 0.6);
}

.lab-tile:hover {
    box-shadow: 0 0 20px rgba(var(--lab-color), 0.7);
}

.plat-tile {
    box-shadow: 0 0 15px rgba(var(--plat-color), 0.6);
}

.plat-tile:hover {
    box-shadow: 0 0 20px rgba(var(--plat-color), 0.7);
}

.tile:hover img {
    transform: scale(1);
    transition: all ease-in-out var(--trans-dur);
}

.img-wrapper {
    height: 10em;
    overflow: hidden;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.02);
    transition: all ease-in-out var(--trans-dur);
}

.tile-content {
    padding: var(--global-padding-1);
}

.euro {
    font-weight: bold;
    color: var(--color-pri-1);
}

input[list]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

input[list] {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d=\"M256 0C114.6 0 0 114.6 0 256c0 141.4 114.6 256 256 256s256-114.6 256-256C512 114.6 397.4 0 256 0zM382.6 302.6l-103.1 103.1C270.7 414.6 260.9 416 256 416c-4.881 0-14.65-1.391-22.65-9.398L129.4 302.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 306.8V128c0-17.69 14.33-32 32-32s32 14.31 32 32v178.8l49.38-49.38c12.5-12.5 32.75-12.5 45.25 0S395.1 290.1 382.6 302.6z\"/></svg>');
    background-repeat: no-repeat;
    background-position: calc(100% - var(--global-padding-2));
}