/*FORM*/

.add-bt {
    width: 20px;
    height: 20px;
    background-color: green;
}

.rm-bt {
    width: 20px;
    height: 20px;
    background-color: red;
}

.edit-bt {
    width: 20px;
    height: 20px;
    background-color: orange;
}

.undo-bt {
    text-decoration: underline;
}

.micro-snapshot {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 300px;
    max-height: 150px;
}

.micro-img {
    max-height: 400px;
}