/*FORM*/

.add-bt {
    width: 20px;
    height: 20px;
    background-color: green;
}

.rm-bt {
    width: 20px;
    height: 20px;
    background-color: red;
}

.undo-bt {
    text-decoration: underline;
}

.snapshot {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
}